aside {
    background-color: #4d4d73;
    width: 100%;
    @include grid-area(asi);
    @include flexy(flex, row, none, space-around, center)
}

aside svg {
    width: 15%;
    height: 70%;
    fill: white;
}

@media(min-width:720px) {
    aside {
        @include flexy(flex, column, none, flex-start, center);
        & svg {
            width: 30px;
            height: 30px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
}