.message-user {
    grid-area: mes;
    @include flexy(flex, column, none, center, center);
    width: 100%;
    & .search {
        margin-top: 20px;
        height: 30px;
        width: 80%;
        margin-bottom: 20px;
        background-color: #f7f7f7;
        border: none;
    }
    & .messege {
        height: 100px;
        width: 80%;
        background-color: #f7f7f7;
        border: none;
    }
    & .send {
        margin-top: 20px;
        width: 80%;
        height: 30px;
        background: #7476be;
        border-radius: 5px;
        color: white;
    }
    & h3 {
        align-self: flex-start;
    }
}

@media(min-width:1024px) {
    .message-user {
        margin-top: 0px;
        padding: 0px;
    }
}