.socials {
    grid-area: social;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    .social {
        @include flexy(flex, column, none, space-between, center);
        & .box {
            height: 30%;
            width: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 20px 1fr;
            grid-template-areas: 'svg h' 'svg p';
            border: 2px solid #f7f7f7;
            margin-bottom: 20px;
            background-color: #f7f7f7;
            border-radius: 5px;
        }
        & .box h3 {
            @include grid-area(h);
            color: #7476be;
        }
        & .box svg {
            @include grid-area(svg);
            border-radius: 50%;
            width: 40%;
            background-color: #7476be;
            fill: white;
            margin-top: 50px;
        }
        & .box p {
            @include grid-area(p);
            font-size: 50px;
        }
    }
}

@media(min-width:720px) {
    .socials {
        & .social {
            @include flexy(flex, row, none, space-between, center);
        }
        & .box {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}